*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    width: 100%;
    background-color: #000;
    display: flex;
}
.headLogo{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    margin-top: 55px;
    margin-left: 12%;
}
nav{
    margin-top: 55px;
    margin-left: 29%;
}
.topnav a{
    padding: 13px 16px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.icon{
    display: none;
}
.welcome{
    display: flex;
    flex-direction: column;
    background: #000;
    text-align: center;
     padding: 207px 0 453px 0;
}
.welcome h1{
    font-size: 44px;
    color: #999999;
    text-transform: uppercase;
    font-weight: normal;
}
.welcome h1:after{
    display: none;
}
.welcome p{
    font-size: 20px;
    color: #999999;
}
.mycompany{
    color: #fcac45;
    font-weight: bold;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
.about{
    display: flex;
    padding: 102px 0 104px 0;
}
.aboutLeft{
    margin-right: 170px;
}
.aboutRight h1{
    display: inline-block;
    font-size: 34px;
    padding-bottom: 17px;
    text-transform: uppercase;
    font-weight: normal;
}
.aboutRight span{
    font-weight: bold;
}
.aboutRight p{
    padding: 29px 0 50px 0;
    color: #c8c8c8;
}
.aboutRight li{
    background: url(img/marks.png) 0px no-repeat;
    padding-left: 25px;
    color: #5a5a5a;
}
.mn-width{
    min-width: 100%;
}
.mainTeam{
    background: #000;
    padding: 96px 0 163px 0;
    color: white;
}
.mainTeam h1{
    color: white;
    text-align: center;
}
h1:after{
    content: "";
    width: 100px;
    display: block;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    border-bottom: 3px solid #fcac45;
}
.teamCards{
    padding-top: 87px;
    display: flex;
    text-align: center;
}
.card{
    padding: 0 20px;
}
.photo{
    background: #d7d7d7;
    height: 129px;
    width: 129px;
    border-radius: 50%;
    margin: 19px auto;
}
.name{
    font-size: 20px;
    padding-bottom: 11px;
}
.position{
    padding-bottom: 36px;
    font-size: 16px;
}
.aboutPosition{
    font-size: 14px;
}
.services{
    padding: 98px 0;
    text-align: center;
}
.services h1{
    padding-bottom: 30px;
}
.servicesList{
    display: flex;
}
.services .aboutServices{
    padding:54px 0 102px 0;
    color: #6c6c6c;
    font-size: 16px;
}
.services h3{
    text-transform: uppercase;
    padding: 27px 0 21px 0;
}
.aboutService{
    font-size: 14px;
}
.clients{
    background: #000;
    padding: 99px 0 210px 0;
    color: white;
    text-align: center;
}
.clients h1{
    margin-bottom: 21px;
    font-size: 44px;
    font-weight: normal;
}
.listClients{
    padding-top: 111px;
}
.listClients img{
    margin-left: 27px;
}
.testimonials{
    background: #000;
    padding: 96px 0 174px 0;
    color: #fff;
    text-align: center;
}
.testimonials h1{
    padding-bottom: 20px;
    font-size: 44px;
    text-transform: uppercase;
    font-weight: normal;
}
.testimonials .line{
    margin: 27px 0 115px 0;
}
.testimonials p{
    font-size: 18px;
}
.testimonials p:last-child{
    margin-top: 47px;
}
.work{
    text-align: center;
    padding: 99px 0 101px 0;
}
.work h1{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 44px;
}
.work .line{
    margin: 29px 0 53px 0;
}
.work p{
    color: #6c6c6c;
    margin-bottom: 175px;
}
.gallery img:hover{
    opacity: 0.9;
}
.contactWrapper{
    width: 754px;
    margin: 0 auto;
}
.contactUs{
    text-align: center;
    padding: 98px 0 102px 0;
}
.contactUs h1{
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: normal;
}
.contactUs .line{
    margin: 30px 0 54px 0;
}
.contactUs p{
    color: #858585;
}
form{
    margin-top: 96px;
    text-align: left;
}
input[type=text]{
    width: 360px;
    height: 43px;
    font-size: 20px;
    margin-right: 17px;
}
.formInputs{
    display: flex;
    margin-bottom: 30px;
}
textarea{
    width: 753px;
    height: 165px;
}
.red{
    color: red;
}
.buttonarea{
    display: flex;
    justify-content: flex-end;
}
input[type="submit"]{
    width: 164px;
    height: 40px;
    background: #fcac45;
    color: #fff;
}
footer{
    background: #000;
    padding: 28px 0 28px 0;
}
.socialMedia{
    display: flex;
    justify-content: center;
}
.socialMedia img{
    margin-right: 12px;
    cursor: pointer;
    opacity: 0.7;
}


@media screen and (max-width:1276px){
    nav{
        margin-left: 20%;
    }
}
@media screen and (max-width:1104px){
    nav{
        margin-left: 10%;
    }
    .about{
    padding: 82px 0 82px 0;
    flex-direction: column;
} 
    .aboutLeft{
    margin-right:0px;
}
    .aboutRight{
    text-align: center;
    }
    .mn-width{
    max-width: 100%;
}
    .aboutRight h1{
    font-size: 24px;
    padding: 30px 0 20px 0;
}
.aboutRight p{
    padding: 24px 0 40px 0;
}
.aboutRight li{
    padding-left: 23px;
    text-align: left;
}
}
@media screen and (max-width:1024px){
    .topnav{
        display: none;
    }
    nav{
        width: 100%;
    }
    .icon{
        display: flex;
        justify-content: flex-end;
        color: #fff;
        cursor: pointer;
        font-size: 25px;
        margin-top: -15px;
    }
    .topnav{
        
    }
    .welcome{
     padding: 107px 0 253px 0;
}
    .welcome h1{
    font-size: 34px;
}
.welcome p{
    font-size: 15px;
}
    .mainTeam{
    padding: 76px 0 123px 0;
}
.mainTeam h1{
    padding-bottom: 20px;
}
.line{
    left: 45%;
}
    .teamCards{
    padding-top: 57px;
    flex-direction: column;
}
  .photo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 15px auto;
}
.name{
    font-size: 18px;
}
.position{
    padding-bottom: 36px;
    font-size: 16px;
}
.aboutPosition{
    font-size: 14px;
}
    .services{
    padding: 90px 0;
}
.services h1{
    padding-bottom: 25px;
}
.servicesList{
    flex-direction: column;
}
    .services img{
        margin-top: 20px;
}
.services .aboutServices{
    padding:50px 0 90px 0;
    font-size: 14px;
}
.services h3{
    padding: 22px 0 16px 0;
}
}






